.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #004f4f;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Skeleton Loading Styles */
.skeleton-item {
  background-color: #e0e0e0; /* Light grey background */
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;

}

.skeleton-title {
  height: 20px;
  width: 70%; /* Width of the title skeleton */
  margin-bottom: 10px;
  border-radius: 4px;
  animation: pulse 1.5s infinite ease-in-out; /* Animation for loading effect */
}

.skeleton-count {
  height: 15px;
  width: 40%; /* Width of the count skeleton */
  border-radius: 4px;
  animation: pulse 1.5s infinite ease-in-out; /* Animation for loading effect */
}

/* Pulse Animation */
@keyframes pulse {
  0% {
    background-color: #e0e0e0;
  }
  50% {
    background-color: #d0d0d0;
  }
  100% {
    background-color: #e0e0e0;
  }
}
/* END -- Skeleton Loading Styles */

.app-title {
  text-align: center;
}

.list-item {
  background-color: #e9ecef;
  border-radius: 5px;
  cursor: pointer;
  padding: 15px;
  margin-bottom: 15px;
  transition: background-color 0.3s;
}

.list-item:hover {
  background-color: #d1d1d1;
}

.list-title {
  margin: 0;
  font-size: 1.5em;
  flex-grow: 3;
}

.item-count {
  margin: 5px 0 0;
  flex-grow: 1;
}

.item-detail{
  display: flex;
  align-items: center;
}

.item-detail p{
  margin: 0;
}
